@using JNFinalProject.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JobNest</title>
    <link rel="icon" href="~/css/main-icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/index.css" media="all">
    <link rel="stylesheet" href="~/css/jobPostForm.css" media="all">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JNFinalProject.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/css/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>
<body>

<ul class="navbar-nav">
    
</ul>
    <header>
        <div class="container flexbox">
            <h1 class="header-title" onclick="window.location.href = '/Home/Index'">Job<span> Nest</span></h1>
            <nav>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Recruiter"))
                    {
                        <ul class="list-menu">
                            <li>@Html.ActionLink("Posted Jobs", "JobList", "JobPost", null, new { @class = "link" })</li>
                            <li> @Html.ActionLink("Create a Job Post", "JobForm", "JobPost", null, new { @class = "link" }) </li>
                            <li> @Html.ActionLink("Applicants", "ApplicantsList", "Application", null, new { @class = "link" }) </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="list-menu">
                            <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "link" })</li>
                            <li>@Html.ActionLink("Your Applications", "Applications", "Application", null, new { @class = "link" })</li>
                        </ul>
                    }
                }
                
            </nav>
            <div class="account-btns">
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="session-list">
                        <li>
                            <a class="username" asp-area="Identity" asp-page="/Account/Manage/Index">Hello @User.Identity?.Name!</a>
                        </li>
                        <li>
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="logout-btn">Logout</button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {
                    <button type="button" class="btn btn-primary"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></button>
                    <button type="button" class="btn btn-secondary "><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a></button>
                }
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FinalProject_Test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
